<div class="card">
    <div class="card-header">
        <h4 class="card-title">Animal</h4>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO_011rKrLgAgXettztR2KbrK2Xwnfyrzt7w&s" alt="foto">
    </div>
    <div class="card-body">
        <p>Nome: {{ animal.nome }}</p>
        <p>Idade: {{ animal.raca }}</p>
        <p>Sexo: {{ animal.sexo }}</p>
        <p>Porte: {{ animal.porte }}</p>
        <p>castrado: {{ animal.castrado }}</p>
        <p>vacinado: {{ animal.vacinado }}</p>
    </div>
</div>