.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colunas de tamanho igual */
    grid-template-rows: auto; /* Linhas com altura automática */
    gap: 10px; /* Espaço entre os itens */
  }
  
.grid-item {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #333;
}

.especie-buttons-container{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}