
<h1>Adote um animal!</h1>

<div class="especie-buttons-container">
    <app-icon-button/>
    <app-icon-button/>
    <app-icon-button/>
</div>

<div class="grid-container">
    <app-animal-list-item class="grid-item"/>
    <app-animal-list-item class="grid-item"/>
    <app-animal-list-item class="grid-item"/>
    <app-animal-list-item class="grid-item"/>
    <app-animal-list-item class="grid-item"/>
    <app-animal-list-item class="grid-item"/>
    <app-animal-list-item class="grid-item"/>
</div>
