@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&family=Poppins:wght@300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top{
    margin: 3vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #1168eb;
    border-radius: 3vh;
}

.paypal{
    margin: 3vw;
    max-width: 50vw;
    max-height: 40vh;
    margin: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.paypal img{
    max-height: 50vh;
    max-width: 40vw;
}

.paypal .inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.paypal .inputs #logo-paypal{
    width: 16vh;
    height: 6vh;
}

.paypal .inputs input{
    margin: 1vh;
    padding: 5px 15px;
    border: 0px solid #000;
    border-radius: 15px;
    width: 10vw;
}

.paypal .inputs #btn-doar{
    background-color: #006eff;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    transition: 0.3s ease-in;
}

.paypal .inputs #btn-doar:hover{
    transform: scale(110%);
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pix{
    margin: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20vw;
    background-color: #006eff;
    border-radius: 3vh;
}

.pix #logo-pix {
    width: 10vw;
    margin: 3vh;
}

.pix #qrcode-conta{
    width: 15vw;
    margin: 3vh;
    border-radius: 5px;
}

.recursos{
    color: #000;
    max-width: 35vw;
    text-align: center;
    font-size: x-large;
}
