header{
    background-color: #006eff;
    height: 10vh;
}

header ul{
    list-style: none;
    display: inline-block;
    width: 100vw;
}

header li{
    position: relative;
    top: 2vh;
    left: 30px;
    font-size: x-large;
    display: inline;
    padding: 10px;
    transition: 0.5s ease-in;
}

header ul .logo{
    padding-left: 10px;
    padding-right: 50vw;
}

header a{
    color: #fff;
    text-decoration: none;
}