header{
    background-color: #1168eb;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    list-style: none;
    display: inline;
    width: 100vw;
}

header li{
    position: relative;
    left: 30px;
    max-height: 7vh;
    font-size: large;
    display: inline-block;
    padding: 10px;
    transition: 0.5s ease-in;
}

header ul .logo{
    position: relative;
    top: 2vh;
    left: 15vw;
    padding-left: 3vw;
    padding-right: 20vw;
}

header ul .logo img{
    max-height: 8vh;
}

header .menu-header{
    margin-bottom: 3vh;
}

header a{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

header a:hover{
    color: #fff;
}